@media  (max-width: 768px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tmkm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
align-items: stretch;
flex-direction: column;}
.style1 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 667px;
align-items: center;
flex-direction: column;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn0t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 138px;
width: 185px;
height: 141px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style8 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn9e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
align-items: stretch;
flex-direction: column;}
.style9 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 667px;
flex-direction: column;}
.style43 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toa1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 16px;
margin-top: 31px;
width: 152px;
height: 116px;}
.style16 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 376px;
width: 315px;
height: 48px;
align-items: center;
align-self: center;
flex-direction: column;}
.style17 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 0.6875em;
font-weight: 500;
letter-spacing: 100px;
height: 13px;}
.style20 {
color: rgba(255,255,255,0.8086240291595459);
font-family: 'runda',serif;
font-size: 0.9375em;
letter-spacing: 20px;
margin-left: 138px;
margin-top: 65px;
height: 17px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 375px;}
.style44 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toha.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 375px;
height: 667px;
align-items: stretch;
flex-direction: column;}
.style45 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 667px;
flex-direction: column;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tpaf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 15px;
margin-top: 103px;
width: 152px;
height: 116px;}
.style59 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 0.5625em;
letter-spacing: 20px;
margin-left: 30px;
margin-top: 17px;
height: 11px;}
.style56 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 0.5625em;
letter-spacing: 20px;
margin-left: 30px;
margin-top: 74px;
height: 11px;}
.style60 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 91px;
width: 315px;
height: 48px;
align-items: center;
align-self: center;
flex-direction: column;}
.style61 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 0.6875em;
font-weight: 500;
letter-spacing: 100px;
height: 13px;}
}@media  (min-width: 768px)  and  (max-width: 920px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tmkm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
align-items: stretch;
flex-direction: column;}
.style1 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 1366px;
align-items: center;
flex-direction: column;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn0t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 283px;
width: 379px;
height: 289px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style8 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn9e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
align-items: stretch;
flex-direction: column;}
.style9 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 1366px;
flex-direction: column;}
.style43 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toa1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 33px;
margin-top: 63px;
width: 311px;
height: 238px;}
.style16 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 770px;
width: 645px;
height: 98px;
align-items: center;
align-self: center;
flex-direction: column;}
.style17 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.408em;
font-weight: 500;
letter-spacing: 205px;
height: 27px;}
.style20 {
color: rgba(255,255,255,0.8086240291595459);
font-family: 'runda',serif;
font-size: 1.92em;
letter-spacing: 41px;
margin-left: 283px;
margin-top: 133px;
height: 35px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 768px;}
.style44 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toha.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 768px;
height: 1366px;
align-items: stretch;
flex-direction: column;}
.style45 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 1366px;
flex-direction: column;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tpaf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 31px;
margin-top: 211px;
width: 311px;
height: 238px;}
.style59 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.1520000000000001em;
letter-spacing: 41px;
margin-left: 61px;
margin-top: 35px;
height: 23px;}
.style56 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.1520000000000001em;
letter-spacing: 41px;
margin-left: 61px;
margin-top: 152px;
height: 23px;}
.style60 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 186px;
width: 645px;
height: 98px;
align-items: center;
align-self: center;
flex-direction: column;}
.style61 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.408em;
font-weight: 500;
letter-spacing: 205px;
height: 27px;}
}@media  (min-width: 920px)  and  (max-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tmkm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
align-items: stretch;
flex-direction: column;}
.style1 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 1636px;
align-items: center;
flex-direction: column;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn0t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 339px;
width: 454px;
height: 346px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style8 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn9e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
align-items: stretch;
flex-direction: column;}
.style9 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 1636px;
flex-direction: column;}
.style43 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toa1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 39px;
margin-top: 76px;
width: 373px;
height: 285px;}
.style16 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 922px;
width: 773px;
height: 118px;
align-items: center;
align-self: center;
flex-direction: column;}
.style17 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.6866666666666665em;
font-weight: 500;
letter-spacing: 245px;
height: 32px;}
.style20 {
color: rgba(255,255,255,0.8086240291595459);
font-family: 'runda',serif;
font-size: 2.3em;
letter-spacing: 49px;
margin-left: 339px;
margin-top: 159px;
height: 42px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 920px;}
.style44 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toha.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 920px;
height: 1636px;
align-items: stretch;
flex-direction: column;}
.style45 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 1636px;
flex-direction: column;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tpaf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 37px;
margin-top: 253px;
width: 373px;
height: 285px;}
.style59 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.38em;
letter-spacing: 49px;
margin-left: 74px;
margin-top: 42px;
height: 27px;}
.style56 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.38em;
letter-spacing: 49px;
margin-left: 74px;
margin-top: 182px;
height: 27px;}
.style60 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 223px;
width: 773px;
height: 118px;
align-items: center;
align-self: center;
flex-direction: column;}
.style61 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.6866666666666665em;
font-weight: 500;
letter-spacing: 245px;
height: 32px;}
}@media  (min-width: 1200px) {.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style0 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tmkm.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
align-items: stretch;
flex-direction: column;}
.style1 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 2134px;
align-items: center;
flex-direction: column;}
.style7 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn0t.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-top: 442px;
width: 592px;
height: 451px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style8 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tn9e.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
align-items: stretch;
flex-direction: column;}
.style9 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 2134px;
flex-direction: column;}
.style43 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toa1.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 51px;
margin-top: 99px;
width: 486px;
height: 371px;}
.style16 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 1203px;
width: 1008px;
height: 154px;
align-items: center;
align-self: center;
flex-direction: column;}
.style17 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 2.2em;
font-weight: 500;
letter-spacing: 320px;
height: 42px;}
.style20 {
color: rgba(255,255,255,0.8086240291595459);
font-family: 'runda',serif;
font-size: 3em;
letter-spacing: 64px;
margin-left: 442px;
margin-top: 208px;
height: 54px;}
.main-wrapper {
margin-left: auto;
margin-right: auto;
width: 1200px;}
.style44 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34toha.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
opacity: 0.3499999940395355;
display: flex;
margin-left: 0px;
margin-top: 0px;
width: 1200px;
height: 2134px;
align-items: stretch;
flex-direction: column;}
.style45 {
background-image: linear-gradient(180deg,#090116 0%,rgba(16,6,37,0.8117647058823529) 16.131800413131714%,rgba(32,8,74,0.6392156862745098) 37.31989860534668%,rgba(30,15,68,0.7607843137254902) 52.070802450180054%,rgba(18,11,50,0.8196078431372549) 80.08509874343872%,#0d092b 100%);
display: flex;
height: 2134px;
flex-direction: column;}
.style66 {
background-image: url('https://designresources.assets.yotako.io/e7upykbvkjn34tpaf.png');
background-repeat: no-repeat;
background-size: contain;
background-position-x: center;
background-position-y: center;
margin-left: 48px;
margin-top: 330px;
width: 486px;
height: 371px;}
.style59 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.8em;
letter-spacing: 64px;
margin-left: 96px;
margin-top: 54px;
height: 35px;}
.style56 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 1.8em;
letter-spacing: 64px;
margin-left: 96px;
margin-top: 237px;
height: 35px;}
.style60 {
background-image: linear-gradient(127.66586593985687deg,#7b1fa2 0%,#4527a0 100%);
box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.1607843137254902);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
display: flex;
margin-top: 291px;
width: 1008px;
height: 154px;
align-items: center;
align-self: center;
flex-direction: column;}
.style61 {
color: #ffffff;
font-family: 'runda',serif;
font-size: 2.2em;
font-weight: 500;
letter-spacing: 320px;
height: 42px;}
}